/* responsive.css */

.mobile-call {
    display: none;
}

.container {
    padding: 0 20px;
}





@media (min-width: 2000px) {
    .footer-contact {
        margin-bottom: 16%;
    }
}



@media (min-width: 1600px) {
    .preschool-content .hero-content button {
        margin-bottom: 40px;
    }
}



@media (max-width: 1600px) {
    .footer-contact {
        margin-bottom: 70px;
    }
}



@media (max-width: 1200px) {
    .top-devider img {
        margin-top: -16px !important;
    }

    .activities-main {
        gap: 40px;
    }

    .activities-left {
        width: 65%;
    }

    .activities-right {
        width: 30%;
    }




    .footer-contact {
        margin-bottom: 40px;
    }



    /* contact page */
    .contact-card {
        height: 250px;
        padding: 40px;
    }

}





@media (max-width: 1100px) {
    .desktop-call button {
        display: none;
    }

}





@media (max-width: 1024px) {
    .hero-heading {
        width: 70%;
        font-size: 42px;
    }

    .hero-description {
        width: 60%;
    }


    .offer-cards {
        gap: 20px;
    }

    .offer-card {
        width: 48%;
    }



    .preschool-main {
        gap: 30px;
    }

    .preschool-img,
    .preschool-content {
        width: 50%;
    }

    .preschool-content .hero-heading {
        font-size: 32px;
    }


    .footer-policies {
        gap: 50px;
    }


    .activities-main {
        flex-direction: column;
    }

    .activities-left {
        width: 100%;
    }

    .activities-left .hero-subheading {
        text-align: center;
    }

    .activities-left .hero-heading {
        text-align: center;
        margin-bottom: 20px;
    }

    .activities-right {
        display: none;
    }

    .activity-card {
        margin-bottom: 60px;
    }

    .desktop-hide {
        display: none;
    }



    .testimonial-card {
        padding: 30px 25px;
        gap: 20px;
    }

    .testimonial-img img {
        width: 130px;
        height: 130px;
    }

    .testimonial-text {
        max-width: 350px;
    }


}




@media (max-width: 992px) {
    .navbar {
        height: auto;
        padding: 15px 0;
        flex-wrap: wrap;
    }

    .nav-links {
        margin-top: 10px;
        gap: 18px;
        flex-wrap: wrap;
        justify-content: center;
    }





    .offer h1 {
        font-size: 30px;
    }


    .offer-card {
        height: 300px;
    }

    .offer-button {
        margin-top: 240px;
        margin-left: -40px;
    }

    .offer-button-mid {
        margin-top: 240px;
        margin-left: -40px;
    }






    /* about page */

    .process h1 {
        font-size: 30px;
    }

    .process .hero-subheading {
        font-size: 16px;
    }

    .process-container {
        margin-top: 40px;
    }


    .process-mid {
        width: 130px;
        justify-content: left;
    }

    .p-m-main {
        width: 18px;
        height: 400px;
        background: #000;
        border: 6px solid #E97F4A;
        border-radius: 10px;
    }

    .p-m-left-top {
        border: 6px solid #E97F4A;
        border-radius: 10px;
        border-left: none;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        left: 16px;
    }

    .p-m-left-bottom {
        border: 6px solid #E97F4A;
        border-radius: 10px;
        border-left: none;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        left: 16px;
    }

    .p-m-right {
        width: 100px;
        height: 18px;
        background: #000;
        border: 6px solid #E97F4A;
        border-radius: 10px;
        border-left: none;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        position: absolute;
        left: 16px;
        top: 190px;
    }


    .process-left-container {
        position: absolute;
        margin-left: 130px;
        margin-top: 44px;
        order: 2;
    }

    .process-left {
        flex-direction: row-reverse;
    }

    .process-left-content {
        text-align: left;
        margin-left: 20px;
    }

    .process-left-content h2 {
        font-size: 24px;
    }

    .process-left-content p {
        font-size: 14px;
    }






}





/* ---------- 900px ---------- */
@media (max-width: 900px) {

    .nav-call {
        width: 160px;
        display: none;
    }


    footer .container {
        flex-wrap: wrap;
        justify-content: center;
    }

    .left-footer-part,
    .right-footer-part {
        display: none;
    }

    .footer-main {
        width: 90%;
        margin-top: 20px;
        margin: auto;
    }

    .footer-policies {
        flex-wrap: wrap;
        justify-content: center;
        gap: 25px;
        text-align: center;
    }

    .footer-contact {
        flex-direction: column;
        gap: 25px;
        margin-bottom: 60px;
        width: 60%;
    }

    .footer-contact-single {
        width: 90%;
        justify-content: center;
        gap: 20px;
    }

    .foot-cont-img {
        width: 14%;
    }

    .foot-cont-contact {
        width: 160px;
    }



    .testimonial .hero-heading {
        font-size: 32px;
    }

    .testimonial-card {
        padding: 25px 20px;
    }

    .testimonial-text p {
        font-size: 15px;
        line-height: 1.5;
    }






    /* contct page */
    .contact-container {
        grid-template-columns: 1fr;
    }

    .contact-right iframe {
        height: 400px;
    }


}





@media (max-width: 768px) {
    .nav-links {
        display: none;
    }


    .hamburger {
        display: block;
        display: flex;
        flex-direction: column;
        gap: 5px;
        cursor: pointer;
    }

    .hamburger span {
        width: 28px;
        height: 3px;
        background: #333;
        border-radius: 5px;
        transition: 0.3s;
    }

    .nav-links.active {
        display: flex;
        flex-direction: column;
        width: 100%;
        background: #fff;
        position: absolute;
        top: 80px;
        left: 0;
        padding: 20px 0;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
        z-index: 999;
    }

    .nav-links li a {
        padding: 12px 0;
        display: block;
        text-align: center;
        font-size: 20px;
    }

    .mobile-call {
        display: none;
        width: 100%;
        text-align: center;
        padding-top: 20px;
    }

    .mobile-call.active {
        display: block;
        background: #fff;
        padding-bottom: 10px;
    }

    .mobile-call button {
        width: 80%;
        height: 40px;
        background: #E97F4A;
        border: none;
        border-radius: 6px;
        color: #fff;
        font-size: 18px;
        cursor: pointer;
    }

    .show-on-mobile {
        display: block;
    }

    .show-on-mobile button {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .show-on-mobile a {
        width: 100% !important;
        margin-left: 0px;
    }

    .nav-call {
        width: 100%;
    }

    .nav-call button {
        margin: auto;
    }

    /* Hamburger animation */
    .hamburger.active span:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active span:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active span:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }



    .hero {
        height: auto;
        padding: 60px 0;
        background-position: left;
    }

    .hero-content {
        padding-top: 0;
        text-align: center;
    }

    .hero-heading {
        width: 100%;
        font-size: 34px;
        line-height: 42px;
    }

    .hero-description {
        width: 100%;
        font-size: 16px;
    }

    .hero-content button {
        width: 220px;
        height: 45px;
        font-size: 18px;
    }


    .offer {
        margin-bottom: 40px;
    }

    .offer-cards {
        flex-direction: column;
        gap: 30px;
    }

    .offer-card {
        width: 100%;
        padding: 25px;
        margin-bottom: 20px;
    }

    .offer-count {
        width: 25%;
    }

    .offer-count-number {
        font-size: 32px;
        top: 8px;
        left: 20px;
    }

    .offer-detail h3 {
        font-size: 20px;
    }

    .offer-detail p {
        font-size: 15px;
    }

    .offer-detail button {
        font-size: 16px;
        margin-top: 20px;
    }

    .decoration-left,
    .decoration-right {
        display: none;
    }

    .offer h1 {
        font-size: 30px;
    }


    .offer-back-2 {
        transform: rotate(-1deg);
    }

    .offer-back-2-mid {
        transform: rotate(1deg);
    }

    .offer-card {
        height: 260px;
        width: 90%;
    }

    .offer-button {
        margin-top: 200px;
        margin-left: -24%;
        transform: rotate(1deg);
    }

    .offer-button-mid {
        margin-top: 200px;
        margin-left: -24%;
        transform: rotate(-1deg);
    }



    .preschool-main {
        flex-direction: column;
        text-align: center;
    }

    .preschool-img,
    .preschool-content {
        width: 100%;
        padding-left: 0;
    }

    .preschool-img img {
        margin-top: 10px;
        width: 80%;
        margin: auto;
    }

    .preschool-content {
        margin-top: 40px;
    }

    .preschool-content .hero-heading {
        font-size: 28px;
        line-height: 36px;
    }

    .preschool-bottom {
        flex-direction: column;
        align-items: center;
    }

    .preschool-bottom-left {
        width: auto;
        margin-bottom: 10px;
    }

    .preschool-bottom-right p {
        margin-bottom: 25px;
    }

    .preschool-bottom-right-devider {
        margin: 20px 0;
    }


    .decoration-right {
        display: none;
    }

    .top-devider img {
        margin-top: -10px !important;
    }


    .foot-devider {
        margin-top: 25px;
        margin-bottom: 25px;
    }

    .footer-main {
        padding: 0 10px;
    }

    .foot-logo img {
        width: 80%;
    }

    .footer-policies a {
        font-size: 16px;
    }

    .footer-contact-single {
        width: 100%;
    }

    .footer-social-main {
        width: 100%;
        margin-top: 30px;
    }

    .foot-social-container {
        gap: 20px;
    }

    .foot-social {
        width: 70%;
        justify-content: flex-start;
        gap: 20px;
    }

    .foot-social-img {
        width: 20%;
    }


    .activities {
        padding-top: 80px;
    }

    .activities-left .hero-heading {
        font-size: 32px;
    }

    .activity-container {
        gap: 20px;
    }

    .activity-card {
        width: 100%;
        justify-content: flex-start;
        gap: 20px;
        margin-bottom: 40px;
    }

    .activity-card-img {
        width: 20%;
    }

    .activity-card-content {
        width: 65%;
    }

    .activities-right {
        width: 80%;
    }


    .decoration-left,
    .decoration-right {
        display: none;
    }


    .testimonial-card {
        flex-direction: column;
        text-align: center;
        padding: 30px 25px;
    }

    .testimonial-img img {
        width: 140px;
        height: 140px;
    }

    .testimonial-text {
        max-width: 100%;
    }






    .blog-main {
        flex-direction: column;
    }

    .blog-left-section {
        width: 100%;
        flex-direction: column;
    }

    .blog-left-section .blog-card {
        width: 100%;
    }

    .blog-right-section {
        width: 100%;
    }

    .blog-right-section .blog-card img {
        height: 250px;
    }

    .blog-btn button {
        height: 60px;
        width: 250px;
    }





    /* about page */

    .about-preschool {
        margin-top: 0px !important;
    }

    .about-preschool .preschool-content {
        margin-top: 0px;
        margin-bottom: 0;
    }

    .about-preschool .preschool-bottom {
        flex-direction: row;
        justify-content: center;
    }






    /* contact page */

    .contact {
        flex-direction: column;
        padding-top: 40px;
    }

    .contact-card {
        width: 90%;
        margin-bottom: 20px;
        height: auto;
        padding: 40px;
    }

    .contact-card-img {
        width: 10%;
    }

    .contact-card-content h2 {
        font-size: 24px;
    }






    /* blog page */
    .blog-container {
        width: 90%;
        margin: auto;
        display: flex;
        flex-direction: column-reverse;
        gap: 40px;
        margin-bottom: 80px;
    }

    .blog-left {
        width: 100%;
    }

    .blog-sidebar {
        width: 100%;
    }

    .recent-box {
        padding: 20px;
    }





    /* admission page */

.form-container {
    width: 90%;
}
.input-group input,
.input-group select {
    height: 50px;
    border-radius: 6px;
}
.form-submit {
    height: 50px;
    border-radius: 6px;
}



}





@media (max-width: 576px) {
    .testimonial {
        padding-bottom: 20px;
    }

    .testimonial .hero-heading {
        font-size: 28px;
    }

    .testimonial-card {
        padding: 25px 18px;
        gap: 15px;
    }

    .testimonial-img img {
        width: 120px;
        height: 120px;
    }

    .testimonial-text p {
        font-size: 14px;
    }

    .testimonial-text h4 {
        font-size: 18px;
    }


    .top-devider img,
    .bottom-devider img {
        width: 100%;
        margin: 0;
        display: block;
    }
}




@media (max-width: 480px) {
    .hero-heading {
        font-size: 28px;
        line-height: 34px;
    }

    .hero-description {
        font-size: 15px;
    }


    .offer h1 {
        font-size: 26px;
    }

    .offer-card {
        padding: 20px;
    }

    .offer-count-back {
        width: 40px;
        height: 40px;
    }

    .offer-count-number {
        font-size: 28px;
        top: 6px;
        left: 16px;
    }

    .offer-detail h3 {
        font-size: 18px;
    }


    .preschool-content .hero-heading {
        font-size: 24px;
    }

    .preschool-content .hero-description {
        font-size: 15px;
    }

    .preschool-bottom-left-back {
        width: 35px;
        height: 35px;
    }

    .preschool-bottom-left-count {
        font-size: 22px;
        left: 12px;
        top: 3px;
    }

    .preschool-bottom-right h4 {
        font-size: 18px;
    }

    .preschool-bottom-right p {
        font-size: 14px;
    }

    .top-devider img {
        margin-top: -5px !important;
    }


    .footer-contact {
        flex-direction: column;
        gap: 25px;
        margin-bottom: 30px;
        width: 100%;
    }

    .footer-contact-single {
        flex-direction: row;
        align-items: center;
    }

    .foot-cont-img {
        width: 40px;
    }

    .foot-cont-contact h3 {
        font-size: 18px;
    }

    .foot-cont-contact p {
        font-size: 15px;
    }

    .foot-social-content {
        font-size: 18px;
    }

    .foot-social-img {
        width: 22%;
    }

    .foot-social-container {
        flex-direction: column;
        gap: 0px;
    }


    .activities-left .hero-heading {
        font-size: 26px;
    }

    .activity-card {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .activity-card-img {
        width: 20%;
    }

    .activity-card-content {
        width: 90%;
    }

    .activities-right {
        width: 100%;
    }

    .activities-right img {
        margin-top: 20px;
    }








    /* about page */

    .process {
        margin-bottom: 20px;
    }

    .process h1 {
        font-size: 24px;
    }

    .process-mid {
        display: none;
    }

    .process-container {
        height: 320px;
        margin-top: 0;
    }

    .process-left-container {
        margin-left: 0px;
        margin-top: 44px;
        width: 260px;
        gap: 100px;
    }

    .process-left-content {
        margin-left: 10px !important;
    }

    .process-left-content h2 {
        font-size: 20px;
    }


    .process-left-count {
        width: 40px;
        height: 40px;
        border: 1px dashed #f58c68;
        margin-left: 0px;
    }

    .process-left-count-inner {
        width: 30px;
        height: 30px;
        font-size: 14px;
    }

    .process-right {
        width: 260px;
    }




    .about-preschool {
        margin-top: 0px !important;
    }

    .about {

        height: 40vw;
    }

    .about .container h2 {
        font-size: 24px;
    }

    .about .container p {
        font-size: 14px;
    }


}






@media (max-width: 420px) {
    .testimonial .hero-heading {
        font-size: 24px;
    }

    .testimonial-card {
        padding: 20px 15px;
    }

    .testimonial-img img {
        width: 100px;
        height: 100px;
    }

    .testimonial-text p {
        font-size: 13px;
    }
}




/* Extra Small Phones 360px */
@media (max-width: 360px) {
    .testimonial-card {
        padding: 18px 12px;
    }

    .testimonial-img img {
        width: 90px;
        height: 90px;
    }




    /* contact page */
    .contact-card {
        padding: 20px;
    }



}